@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --cor0: #0A78D3;
    --cor1: #2D97F0;
    --cor2: #FF9400;
    --bg: white;
    --bg-prod: white;
    --font-color: black;

    --font0: "Montserrat", Arial, Helvetica, sans-serif;
    --font1: "Nunito Sans", Helvetica, sans-serif;
}
.dark-mode:root {
    --bg: #18191A;
    --bg-prod: #242526;
    --font-color: white;
}

/*Configurações gerais*/
html, body {
    font-family: var(--font1);
    margin: 0px;
    padding: 0px;
    background-color: var(--bg);
    color: var(--font-color);
    transition: .4s;
}
h1, h2, h3 {
    font-family: var(--font0);
    font-variant: small-caps;
}
/*Cabeçalho*/
#container-header {
    background-color: var(--cor0);
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.432);
}
header {
    display: flex;
    align-items: center;

    background-color: var(--cor0);

    color: white;

    height: 80px;

    max-width: 1600px;

    margin-left: auto;
    margin-right: auto;
}
#logo {
    width: 110px;
    height: 26px;
    margin-left: 20px;
}
nav {
    display: flex;
    width: 100%;
}
nav > ul {
    list-style: none;
    columns: 2;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 1.15em;
}
#darkmode {
    margin-left: auto;
    margin-right: 20px;

    height: 20px;
    width: 40px;
    
    appearance: none;
    background-color: aliceblue;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: inset 0px 0px 16px 1px #0000003d;

    transition: .4s;
    position: relative;

    align-self: center;

}
#darkmode:checked {
    background-color: var(--cor2);
}
#darkmode:before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    transform: scale(1.1);
    top: 0;
    left: 0;
    transition: .4s;
}
#darkmode:checked:before {
    left: 50%;
}
/*Produtos*/
main {
    max-width: 1600px;
    
    margin: 20px auto 20px auto;
}
.title-prod {
    margin-left: 20px;
    font-size: 1.8em;
    color: var(--cor1);
    text-shadow: 2px 2px 4px #0000006b;
}
.container-grid {
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px;
    grid-gap: 15px;

    padding: 20px;
}
.produto {
    display: grid;
    grid-template-columns: 2fr 200px;

    padding-left: 20px;

    position: relative;

    border: 1px solid rgba(0, 0, 0, 0.274);
    border-radius: 30px;

    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.349);

    cursor: pointer;
    
    background-color: var(--bg-prod) 
}
.img-container {
    position: relative;
}
.img-produto {
    width: 180px;
    height: 180px;
    
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    
    border: 3px solid var(--cor2);
    border-radius: 30px;
}
.preco {
    position: absolute;
    transform: translate(0, -50%);
    top: 80%;
    margin-left: 10px;
    padding-bottom: 10px;
}
/*Footer*/
#container-footer {
    background-color: var(--cor0);
    box-shadow: -1px -2px 13px 0px rgba(0, 0, 0, 0.411);

    padding: 1px;
    text-align: center;
}
footer {
    display: inline-block;

    max-width: 1600px;
    margin: 20px auto auto auto;
    color: white;
    font-size: 0.8em;
    font-family: var(--font1);
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
footer a:after {
    content: "🔗";
}
.footer_infos {
    list-style-type: none;
    columns: 2;
    max-width: 600px;
    margin-bottom: 10px;
}
