@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

:root {
    --font0: "Lobster", Georgia, 'Times New Roman', Times, serif;
    --font1: "Noto Serif", 'Times New Roman', Times, serif;

    --cortema: #03565d;
    --corh1: #800000;
    --bg: white;
    --bg-prod: white;
    --txt-color: black;
}
.dark_mode:root {
    --bg: #18191A;
    --bg-prod: #242526;
    --txt-color: white;
}
* {
    margin: 0px;
    padding: 0px;
}
body {
    transition: .4s;
    background-color: var(--bg);
    color: var(--txt-color);
}
#nav_sect {
    background-color: var(--cortema);
    box-shadow: 5px 2px 10px 0px rgba(0, 0, 0, 0.534);
}
nav {
    display: flex;
    padding: 15px 10px;

    margin-left: auto;
    margin-right: auto;

    background-color: #03565d;

    max-width: 1600px;
}
nav h1 {
    font-family: var(--font0);
    font-variant: small-caps;
    font-size: 1.67em;

    margin-left: 20px;
    margin-right: 20px;

    color: var(--corh1);

    text-shadow: 1px 1px 5px rgb(0 0 0 / 42%);
    
    letter-spacing: 4px;
}
a.nav_opt {
    color: white;

    font-size: 1.1em;

    text-decoration: none;
    text-shadow: 3px 2px 9px rgb(0 0 0 / 42%);

    margin-right: 15px;
    margin-top: 9px;

    overflow: hidden;
}
a.nav_opt:hover {
    text-decoration: underline;
}
#toggle_theme {
    margin-left: auto; 
    margin-right: 40px;
    margin-top: 8px;
    
    height: 20px;
    width: 40px;
    
    appearance: none;
    background-color: aliceblue;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: inset 0px 0px 16px 1px #0000003d;

    transition: .4s;
    position: relative;
}
#toggle_theme:checked {
    background-color: #3dc9ec;
}
#toggle_theme:before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    transform: scale(1.1);
    top: 0;
    left: 0;
    transition: .4s;
}
#toggle_theme:checked:before {
    left: 19px;
}
main {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}
#destaques {
    margin:50px auto;
    max-width: 100%;
}
#destaquediv {
    display: flex;
    justify-content: center;

    margin:0px auto;
}
.imagensdestaque {
    height: 200px;
    width: 350px;
    border-radius: 10px;
    margin-right: 80px;
    box-shadow: 3px 2px 6px 0px rgba(0, 0, 0, 0.384);
    cursor: pointer;
    transition: .4s;
}
#ultimaimg {
    margin-right: 0px;
}
.imagensdestaque:hover {
    transform: scale(1.1);
}
#prod_container {
    position: relative;
    margin-top: 20px;
}
#prod_container h1 {
    font-family: var(--font0);
    font-variant: small-caps;
    font-size: 2.67em;

    color: var(--corh1);

    text-align: center;

    margin-bottom: 15px;
}
div.anuncios {

    max-width: 1400px;
    margin: auto;
}
.produtos {
    display: inline-block;
    position: relative;

    border-radius: 25px 25px 0px 0px;

    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.384);

    width: 250px;
    height: 250px;

    padding: 0px 5px;

    cursor: pointer;

    margin: 10px 43px 40px 43px;
    background-color: var(--bg-prod);

    transition: .4s;
}
.produtos img {
    width: 260px;
    height: 150px;
    border-radius: 25px 25px 0px 0px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.384);
    position: relative;
    left: -5px;

    border-bottom: 3px solid var(--cortema);
}
.produtos img:hover {
    border-bottom: 3px solid var(--corh1);
}
.anuncios h2 {
    font-family: var(--font0);
    font-variant: small-caps;
    font-size: 2em;

    color: var(--corh1);

    text-align: center;

    margin-top: 15px;
    margin-bottom: 15px;
}
.produtos h3 {
    text-align: center;
    font-family: var(--font1);
}
.preco {
    font-family: var(--font1);
    color: #800000;
    margin-top: 10px;
    text-indent: 1em;
}
#footer_sect {
    background-color: var(--corh1);
    box-shadow: -1px -2px 13px 0px rgba(0, 0, 0, 0.411);

    padding: 1px;
    text-align: center;
}
footer {
    display: inline-block;
    background-color:   var(--corh1);
    max-width: 1600px;
    margin: 20px auto auto auto;
    color: white;
    font-size: 0.8em;
    font-family: var(--font1);
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
footer a::after {
    content: "🔗";
}
.footer_infos {
    list-style-type: none;
    columns: 2;
    max-width: 600px;
    margin-bottom: 10px;
}
/* Adaptando para tamanhos diferentes */
@media (max-width: 1450px) {
    .produtos {
        margin-left: 218px;
        margin-right: 50px;
    }
}
@media (max-width: 1100px) {
    .produtos {
        margin-left: 125px;
        margin-right: 10px;
    }
    .imagensdestaque {
        height: 200px;
        width: 250px;
    }
}
@media (max-width: 850px) {
    .produtos {
        margin-left: 100px;
        margin-right: 10px;
    }
    .imagensdestaque {
        height: 150px;
        width: 200px;
    }
}
@media (max-width: 760px) {
    .produtos {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #destaquediv {
        display: block;
    }
    .imagensdestaque {
        display: block;
        margin: 40px auto 20px auto;
        height: 150px;
        width: 250px;
    }
    #ultimaimg {
        margin-right: auto;
    }
}